body {
    color : #111;
    background-color: #FDB33F;
}

.container {
    background-color: #FFDEAA;
    border-left-color: #BC852F;
    border-right-color: #BC852F;
}

a { 
    color : #FB5B00;
}

a:visited { 
    color : #BC622F;
}

a:focus { 
    color : #A33B00;
}

a:hover, 
a:active { 
color : #A33B00;
}