body {
    margin : 0 auto;
    padding : 0;
    font : 100%/1.4 'lucida sans unicode', 'lucida grande', 'Trebuchet MS', verdana, arial, helvetica, helve, sans-serif; 	
    color : #000; 
    text-align: center;
    background-color: #090909;
    background-image: url(../images/binding_dark.png);    /* image from subtlepatterns.com  */
}

.maincontent {
    background-color: rgba(1,1,1,0.55);
    border-left: 1px solid #787768;
    border-right: 1px solid #787768;
}

#main-logo {
    width: 100%;
    height: auto;
}

.NavigationLink {
    padding: 5px;
    font-variant: small-caps;
    letter-spacing: 0.15em;
    line-height: 1.2em;
    font-size: x-large;
    font-family: sans-serif;
}

.darkcontainer > section {
    padding: 1%;
}

header {
    font-variant: small-caps;
    letter-spacing: 0.15em;
    line-height: 1.2em;
}